html {
    background: url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    background: none;
}
.container {
    text-align: center;
    margin-top: 200px;
    color: dodgerblue;
    width: 450px;

}

#weather {
margin-top: 15px;

}